manifest {
  name = 'openscpca-nf'
  description = 'A workflow to run modules from the OpenScPCA project.'
  author = "Childhood Cancer Data Lab, Alex's Lemonade Stand Foundation"
  homePage = 'https://github.com/AlexsLemonade/openScPCA-nf'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = 'v0.0.1'
  nextflowVersion = '>=22.10.0'
}

nextflow.enable.moduleBinaries = true

// global parameters for workflows
params {
  release_bucket = "openscpca-data-release"
  release_prefix = "current"
  project = "all"

  // Resource maximum settings
  max_cpus = 24
  max_memory = 96.GB
}

// Load base process config with labels
includeConfig 'config/process_base.config'

profiles {
  standard {
    process.executor = 'awsbatch'
    docker.enabled = true
    docker.userEmulation = true
  }
  stub {
    process.executor = 'awsbatch'
    docker.enabled = false
  }
  batch {
    includeConfig 'config/profile_batch.config'
  }
  old_batch {
    includeConfig 'config/profile_old_batch.config'
  }
}
